@import "tailwindcss";



@media (prefers-color-scheme: dark) {
  :root {
    --background: #101828;
    --foreground: #ededed;
  }
}

html{
  scroll-behavior: smooth;
}
body {
  background: var(--background);
}
